.mainDetails{

}
.mainImg{

    float: left;
    text-align: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: .1rem;
    box-shadow: 0 0 .1rem;
    margin: .5rem .75rem;
}
.header{
    display: flex;
    text-align: center;
}

.header h3{
    float: right;
    padding: 15px;
    padding-top: 25px;
    margin: 10px;
    text-align: center;

}
.p-dialog {

    display: flex;

    flex-direction: column;
    pointer-events: auto;

    max-height: 80%;


    max-width: 100%;
    width: 60%;
}

.description{
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.ingredients{
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}
.mainForm{
    text-align: left;
}
